@import "./boostrap/anim.less";

@tour-prefix-cls: rc-tour;


.@{tour-prefix-cls} {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height:1.5;
  opacity: 0.9;
  min-width: 520px;
  min-height: 200px;
  &-hidden {
    display: none;
  }

  &-placement-top, &-placement-topLeft, &-placement-topRight {
    padding: 5px 0 9px 0;
  }
  &-placement-right, &-placement-rightTop, &-placement-rightBottom {
    padding: 0 5px 0 9px;
  }
  &-placement-bottom, &-placement-bottomLeft, &-placement-bottomRight {
    padding: 9px 0 5px 0;
  }
  &-placement-left, &-placement-leftTop, &-placement-leftBottom {
    padding: 0 9px 0 5px;
  }
}

// Wrapper for the tour content
.@{tour-prefix-cls}-inner {
  text-align: left;
  text-decoration: none;
  border-radius: 6px;;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  position: relative;
  background-color: #ffffff;
  border: none;
  background-clip: padding-box;
  min-height: 200px;
}

// Arrows
.@{tour-prefix-cls}-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.@{tour-prefix-cls} {
  &-placement-top &-arrow,
  &-placement-topLeft &-arrow,
  &-placement-topRight &-arrow {
    bottom: 9px - 5px;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #373737;
  }

  &-placement-top &-arrow {
    left: 50%;
  }

  &-placement-topLeft &-arrow {
    left: 0;
  }

  &-placement-topRight &-arrow {
    right: 0;
  }

  &-placement-right &-arrow,
  &-placement-rightTop &-arrow,
  &-placement-rightBottom &-arrow {
    left: 4px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #373737;
  }

  &-placement-right &-arrow {
    top: 50%;
  }

  &-placement-rightTop &-arrow {
    top: 15%;
    margin-top: 0;
  }

  &-placement-rightBottom &-arrow {
    bottom: 0;
  }

  &-placement-left &-arrow,
  &-placement-leftTop &-arrow,
  &-placement-leftBottom &-arrow {
    right:4px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #373737;
  }

  &-placement-left &-arrow {
    top: 0;
  }

  &-placement-leftTop &-arrow {
    top: 15%;
    margin-top: 0;
  }

  &-placement-leftBottom &-arrow {
    bottom: 0;
  }

  &-placement-bottom &-arrow,
  &-placement-bottomLeft &-arrow,
  &-placement-bottomRight &-arrow {
    top: 4px;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #373737;
  }

  &-placement-bottom &-arrow {
    left: 50%;
  }

  &-placement-bottomLeft &-arrow {
    left: 0;
  }

  &-placement-bottomRight &-arrow {
    right: 0;
  }


  &-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }

  &-title {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }

  &-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 21px;
    position: absolute;
    right: 20px;
    top: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    text-decoration: none;

    &-x:after {
      content: '×'
    }

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      text-decoration: none;
    }
  }

  &-header {
    padding: 13px 20px 14px 20px;
    border-radius: 5px 5px 0 0;
    background: #fff;
    color: #666;
    border-bottom: 1px solid #e9e9e9;
  }

  &-description {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }

  &-footer {
    padding: 10px 16px;
    display: flex;
    background: 0 0;
    border-top: 1px solid rgba(0,0,0,.06);
    border-radius: 0 0 2px 2px;
  }

  &-sliders{
    width:70%;
    display: inline-block;
    span{
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      background: #000;
      margin-right:4px;
      opacity: 0.75;
      &.active{
        background: #007aff;
      }
    }
  }

  .ant-btn{
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    margin: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px #00000004;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: #000000d9;
    background: #fff;
    outline: 0;
    -webkit-appearance: button;
  }
  .ant-btn-primary {
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
  }
  &-prevButton,&-nextButton{
    display: inline-block;
    margin-left: 8px;
  }
}


.@{tour-prefix-cls}-inner.@{tour-prefix-cls}-primary {
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #1890ff;
    border-radius: 6px;;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
  .@{tour-prefix-cls}-header{
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
  }
  .@{tour-prefix-cls}-close{
    color: #fff;
    opacity: 1;
  }
  .ant-btn-primary {
    border-color:#fff;
  }

  .@{tour-prefix-cls}-sliders{
    span{
      background: #fff;
      margin-right:4px;
      opacity: 0.75;
      &.active{
        background: #007aff;
      }
    }
  }
}

.ant-target{
  position: relative;
}
